@using CarCenterContracts.ViewModels;

@model List<BundlingViewModel>

@{
	ViewData["Title"] = "Bundlings";
}

<div class="text-center">
	<h1 class="display-4">Комплектации</h1>
</div>

<div class="text-center">
	@{
		if (Model == null)
		{
			<h3 class="display-4">Авторизируйтесь</h3>
			return;
		}
		<p>
			<a asp-action="CreateBundling" asp-route-id="0">Создать комплектацию</a>
		</p>
		<table class="table">
			<thead>
				<tr>
					<th>
						Номер
					</th>
					<th>
						Пакет оборудования
					</th>
					<th>
						Пакет шин
					</th>
					<th>
						Пакет инструментов
					</th>
					<th>
						Цена
					</th>
					<th>
						Изменить комплектацию
					</th>
					<th>
						Удалить комплектацию
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Id)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.EquipmentPackage)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.TirePackage)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ToolKit)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Price)
						</td>
						<td>
							<a asp-action="CreateBundling" asp-route-id="@item.Id" class="btn btn-primary">Изменить</a>
						</td>
						<td>
							<form method="post">
								<input type="text" title="id" name="id" value="@item.Id" hidden="hidden" />
								<input type="submit" class="btn btn-danger" value="Удалить" />
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
</div>
